// *-----color -----
$primary: #e52645;
$primary-dark: darken(#e52645, 20%);
$primary-light: lighten(#e52645, 20%);
$border-color: #dedede;
$secondary: #ededed;
$text-secondary: #ededed;
$btn-primary: #0cbaee;
$title-primary: #401126;
$price-secondary: #ada9a9;
$bg-secondary: darken($secondary, 20%);

$bg-primary-two: #ffccc6;
/*************font*************/
$poppins: "Poppins", arial;

$roboto: "Roboto", arial;

$josefin-sans: "Josefin Sans", sans-serif;

$montserrat: "Montserrat", sans-serif;

$specimen: "Specimen", sans-serif;

//$open-sans: "Open Sans", sans-serif;
