@import "font";
@import "variable";
@import "typologie";
@import "utilities";
@import "button";

.wrapper {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  font-family: "Poppins", arial;
}

/**** header*****/
.header {
  position: relative;
  z-index: 2;
}
.header-animated {
  transition: margin-top 0.5s ease-in-out;
  margin-top: -10rem;
}
.fixed-top {
  transition: margin-bottom 0.5s ease-in-out;
  margin-top: 0 !important;
}
.flex-header-top {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: #fff;
  width: 100%;
  .flex-header--menu-top {
    font-size: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  nav {
    .logo-content {
      height: 100%;
      a {
        font-size: 80px;
        .logo-word {
          text-decoration-line: overline;
        }
        .o-carre {
          width: 45px;
          height: 45px;
          background-color: $primary;
          transform: rotate(50deg);
        }
      }
    }
    .btn {
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
  .flex-header-menu-center {
    .hearder--menu {
      position: relative;
      .header-menu--seach {
        position: absolute;
        display: flex;
        top: 100px;
        left: 200px;
      }
    }
  }
  .header-search {
    position: relative;
    .icone-search {
      position: absolute;
      top: 20px;
      left: 180px;
    }
  }
}

/*****banner******/
#slider {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  figure {
    position: relative;
    top: 160px;
    width: 500%;
    height: 800px;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    z-index: 1;
    animation: 20s slidy infinite;
    img {
      width: calc(100% / 5);
      height: 100%;
    }
  }
}

/******le main*****/
main {
  margin-top: 80px;

  display: flex;
  flex-flow: column nowrap;
}
.article-firs {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: auto;
}
/*****aside********/
.asides {
  margin: 0;
  border-radius: 10px;
  width: 18%;
  display: flex;
  flex-direction: column;
  .aside {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    h3 {
      margin-top: 0;
      font-size: 16px;
      border-radius: 10px;
    }
  }
  .wishlist {
    display: flex;
    font-size: 12px;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    .aside-solde {
      width: 100%;
      position: relative;
      img {
        border-radius: 10px;
        width: 100%;
        height: 100px;
        transition: 0.6s all;
        &:hover {
          transform: scale(2, 2);
          width: 100%;
          z-index: 1;
          height: auto;
          background-color: $secondary;
          padding: 20px;
        }
      }
      .price {
        display: flex;
        gap: 10px;
        .new-price {
          position: relative;
        }
        ::after {
          content: " ";
          position: absolute;
          left: 0px;
          top: 9px;
          height: 10px;
          width: 80%;
          z-index: -1;
          background-color: #00e0d9;
        }
      }
    }
    .solde {
      position: absolute;
      top: 40px;
      right: 20%;
      background-color: black;
      color: white;
      font-size: 18px;
    }
    .o-carre {
      width: 45px;
      height: 20px;
      transform: rotate(-50deg);
    }
  }
}

.main-galerie {
  justify-content: center;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  gap: 2%;
  .box {
    position: relative;
    width: calc(100% / 5);
    border-radius: 10px;
    height: auto;
    margin-bottom: 30px;
    :nth-child(2) {
      font-size: 20px;
    }
    :nth-child(3) {
      font-weight: 500;
      font-size: 16px;
    }

    i {
      position: absolute;
      top: 20px;
      left: 85%;
    }
    .solde {
      position: absolute;
      top: 20px;
      right: 76%;
      background-color: black;
      color: white;
      font-size: 18px;
    }
    .price {
      display: flex;
      flex-flow: row nowrap;
      gap: 10px;
    }
    .new-price {
      position: relative;
      top: 0;
      left: 0;
      //background-color: red;
    }
    ::before {
      position: absolute;
      color: #000;
    }
    ::after {
      content: " ";
      position: absolute;
      left: 0px;
      top: 9px;
      height: 10px;
      width: 100%;
      z-index: -1;
      background-color: #00e0d9;
    }
    img {
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      border: 1px solid $secondary;
      height: 350px;
      transition: 0.6s all;
    }
  }
}

/************* second article ***************/
.article-two {
  position: relative;
  margin-top: 50px;
  width: 100%;
}
.article--title {
  width: 100%;
  position: absolute;
  top: -60px;
  left: calc(100% / 3);
  bottom: 0;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: transparent;
}

.color {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: $bg-primary-two;
  .more-article {
    margin-bottom: 50px;
    width: 10%;
    padding: 10px 0;
    font-size: 22px;
    font-weight: 700;
    border: 2px solid #000;
    text-align: center;
    // cursor: pointer;
  }
  .more-article:hover {
    background-color: red;
  }
}
.main-galerie-two {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
  .box {
    width: calc(100% / 5);
    height: auto;
    margin-bottom: 30px;
    background-color: #fff;
    .date {
      padding-top: 8px;
      text-align: right;
      padding: 8px;
    }
    h3 {
      margin-top: 0;
      padding: 8px;
    }
    .text {
      margin: 0;
      padding-left: 8px;
    }
    img {
      width: 100%;
      border: 1px solid $secondary;
      border-bottom: none;
      height: 350px;
      transition: 0.6s all;
    }
  }
}

/************article tree****************/
.article {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  background-color: $secondary;

  .main-galerie {
    width: 100%;
    .box {
      margin: 50px 0;
      width: calc(100% / 2.5);
      text-align: center;
      .price {
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: center;
        //text-align: center;
        .price-secondary {
          background-color: red;
          width: 10%;
          color: #fff;
          text-align: center;
        }
        .bold {
          background-color: #00e0d9;
        }
      }
    }
  }
}

/*************footer ****************/
footer {
  background-color: $primary-light;
  .bottom {
    text-align: right;
    font-size: 14px;
  }
  .footer {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    quotes: "«" "»" "‹" "›";
    .footer-box {
      width: calc(100% / 4);
    }
    .reseau {
      font-size: 20px;
      i {
        color: $secondary;
      }
    }
    .partner {
      font-size: 50px;
      i {
        color: $secondary;
      }
    }
    .contact {
      display: flex;
      flex-flow: column nowrap;
      padding: 0 50px;
    }
  }
}

/*****************media queries*************/
@media (max-width: 470px) {
  .flex-header--menu-top {
    width: calc(100%);
  }
  .reseau {
    display: none;
  }
  .ms-nav-flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    height: 310px;
    .logo-content {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-left: 10px;
    }
    .header-search {
      display: none;
    }
    .header--menu {
      margin-top: 10px;
      width: 60%;
      display: flex;
      flex-flow: row nowrap;
      text-align: center;
      :nth-child(1) {
        @include btn-mixin();
        padding: 10px;
        margin-bottom: 5px;
        color: #fff;
      }
      :nth-child(2) {
        @include btn-mixin();
        padding: 5px;
        margin-bottom: 5px;
      }
      :nth-child(3) {
        @include btn-mixin();
        margin-bottom: 5px;
        padding: 5px;
        color: #fff;
      }
      :nth-child(5) {
        display: none;
      }
    }
  }

  .article--title {
    font-size: 30px;
    width: 100%;
    position: absolute;
    top: -60px;
    left: calc(100% / 4);
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
  }
  .color {
    .more-article {
      width: 28%;
    }
  }
  .main-galerie-two {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    .box {
      width: 100%;
    }
  }
  .article {
    .main-galerie {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      .box {
        width: 100%;
      }
    }
  }

  .article-firs {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    .main-galerie {
      width: 100%;
      .box {
        width: 100%;
      }
    }
    .asides {
      width: 100%;
    }
  }

  .footer-container {
    background-color: $primary-light;
    .bottom {
      text-align: right;
      font-size: 14px;
    }
    .footer-content {
      display: flex;
      flex-flow: column nowrap;
      align-content: center;
      width: 100%;
      flex-basis: 200px;
      quotes: "«" "»" "‹" "›";
      .footer-box {
        width: 100%;
      }
      .reseau {
        font-size: 20px;
        i {
          color: $secondary;
        }
      }
      .partner {
        font-size: 50px;
        i {
          color: $secondary;
        }
      }
      .social {
        .reseau {
          display: inline-block;
        }
      }
      .contact {
        display: flex;
        flex-flow: column nowrap;
        padding: 0 50px;
      }
    }
  }
}

@media screen and (min-width: 471px) and (max-width: 760px) {
  .wrapper {
    font-size: 12px;
    header {
      font-size: 12px;
      .ms-nav-flex {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 310px;
        .logo-content {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-left: 10px;
        }
        .header-search {
          position: absolute;
          top: 260px;
          z-index: 2;
          input {
            height: 50px;
          }
        }
        .header--menu {
          margin: 10px;
          width: 80%;
          background-color: #fff;
          border-radius: 10px;
          z-index: 1;
          display: flex;
          flex-flow: column nowrap;
          text-align: center;
          li {
            width: calc(80% / 2);
          }
          :nth-child(1) {
            @include btn-mixin();
            padding: 10px;
            margin-bottom: 5px;
            color: #fff;
          }
          :nth-child(2) {
            @include btn-mixin();
            padding: 5px;
            margin-bottom: 5px;
          }
          :nth-child(3) {
            @include btn-mixin();
            margin-bottom: 5px;
            padding: 5px;
            color: #fff;
          }
          :nth-child(4) {
            opacity: 0;
          }
        }
      }
    }

    .article--title {
      font-size: 40px;
      width: 100%;
      position: absolute;
      top: -60px;
      left: calc(100% / 3.2);
    }
    .color {
      .more-article {
        width: 28%;
      }
    }
    .main-galerie-two {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      .box {
        width: calc(100% / 3);
        img {
          height: 200px;
        }
      }
    }

    .article-firs {
      max-width: 100%;
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      .main-galerie {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
        .box {
          width: calc(100% / 3);
          height: auto;
          img {
            height: calc(100% - 40%);
          }
        }
      }
      .asides {
        display: flex;
        flex-flow: row wrap;
        flex: 1 1 auto;
        margin: 0;
        border-radius: 10px;
        width: 100%;
        .aside {
          width: calc(100% / 2);
          border-radius: 10px;
          margin: 0 auto;
          height: auto;
          h3 {
            border-radius: 10px;
          }
          .ms-aside-form {
            margin-top: 50px;
            width: 100%;
            form {
              border: 1px solid $secondary;
              border-radius: 10px;
              background-color: $secondary;
              margin-bottom: 50px;
              :nth-child(2) {
                background-color: #fff;
              }
            }
          }
        }
      }
    }
    .footer-content {
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      justify-content: center;
      width: 100%;
      quotes: "«" "»" "‹" "›";
      .footer-box {
        width: calc(100% / 2);
        .contact {
          display: flex;
          flex-direction: column;
          align-items: center;
          :nth-child(4) {
            color: #fff;
            width: calc(250px / 2);
          }
          input {
            width: 250px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 761px) and (max-width: 1024px) {
  .wrapper {
    header {
      font-size: 12px;
      nav {
        display: flex;
        flex-flow: column nowrap;
        gap: 2%;
        .header-search {
          input {
            width: 120px;
          }
          i {
            display: none;
          }
        }
      }
    }

    .article--title {
      font-size: 50px;
      width: 100%;
      position: absolute;
      top: -60px;
      left: calc(100% / 3.2);
    }
    .color {
      .more-article {
        width: 28%;
      }
    }
    .main-galerie-two {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      .box {
        width: calc(100% / 4);
        height: auto;
        img {
          height: calc(100% - 40%);
        }
      }
    }

    .article-firs {
      max-width: 100%;
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      .main-galerie {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        .box {
          width: calc(100% / 4);
          height: auto;
          img {
            height: calc(100% - 30%);
          }
        }
      }
      .asides {
        margin: 0;
        border-radius: 10px;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        gap: 2%;
        .ms-aside-form {
          margin-top: 50px;
          width: 100%;
          form {
            border: 1px solid $secondary;
            border-radius: 10px;
            background-color: $secondary;
            margin-bottom: 50px;
            :nth-child(2) {
              background-color: #fff;
            }
          }
        }
        .aside {
          width: calc(100% / 2.1);
          border-radius: 10px;
          margin: 0 auto;
          height: auto;
          h3 {
            border-radius: 10px;
          }
        }
      }
    }
    .footer-container {
      width: 100%;
      .footer-content {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        width: 100%;
        quotes: "«" "»" "‹" "›";
        .footer-box {
          width: calc(100% / 3);
          .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            :nth-child(4) {
              color: #fff;
              width: calc(250px / 2);
            }
            input {
              width: 250px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .wrapper {
    .footer-container {
      width: 100%;
      .footer-content {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        width: 100%;
        quotes: "«" "»" "‹" "›";
        .footer-box {
          width: calc(100% / 4);
        }
      }
    }
    .box {
      width: calc(100% / 5);
    }
  }
}
@media screen and (min-width: 1200px) {
  .wrapper {
    .footer-container {
      width: 100%;
      .footer-content {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        width: 100%;
        quotes: "«" "»" "‹" "›";
        .footer-box {
          width: calc(100% / 4);
          .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            :nth-child(4) {
              width: calc(250px / 2);
              color: #fff;
            }
            input {
              width: 250px;
            }
          }
        }
      }
    }
    .article {
      .main-galerie {
        width: 100%;
        .box {
          width: calc(100% / 5);
        }
      }
    }
    img {
      height: calc(100% - 30%);
    }
  }
}
